<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bvb_brasil"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bvbbrasilimg_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Splash screen -->
        <activity
            android:name="com.example.bvb_brasil.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Principal -->
        <activity
            android:name="com.example.bvb_brasil.ActivityPrincipal"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".BotoesActivity" />
        <activity android:name=".BvBxAugsburgActivity" />
        <activity android:name=".ColoniaxBvBActivity" />
        <activity android:name=".FrankfurtxBvBActivity" />
        <activity android:name=".BvBxWBremenActivity" />
        <activity android:name=".FreiburgxBvBActivity" />
        <activity android:name=".BvBxMonchengladbachActivity" />
        <activity android:name=".ScheissexBvBActivity" />
        <activity android:name=".BvBxWolfsburgActivity" />
        <activity android:name=".BayernxBvBActivity" />
        <activity android:name=".BvBxPaderbornActivity" />
        <activity android:name=".HertaxBvBActivity" />
        <activity android:name=".BvBxFortunaDActivity" />
        <activity android:name=".MainsxBvBActivity" />
        <activity android:name=".BvBxLeipzigActivity" />
        <activity android:name=".HofeinheinxBvBActivity" />
        <activity android:name=".BerlinxBvBActivity" />
        <activity android:name=".BvBxBayerLActivity" />
        <activity android:name=".ChampionsLActivity" />
        <activity android:name=".SplashChampionsActivity" />
    </application>
</manifest>